[MASTER]
# Рекурсивный обход папок
recursive=yes

# Игнорируемые файлы/папки
ignore=__pycache__,venv,env,.venv,.git,.pytest_cache,migrations

[MESSAGES CONTROL]
# Отключаем проблемные проверки для тестов
disable=
    C0114,
    C0115,
    C0116,
    C0304,
    C0305,
    C0103,
    W0621,
    W0613,
    W0611,
    R0902,
    R0903,
    R0904,
    R0913,
    R0917,
    R0801,
    E1101

[FORMAT]
# Максимальная длина строки
max-line-length=120

[BASIC]
# Допустимые имена переменных
good-names=i,j,k,ex,Run,_,x,y,item,fs,id,ip,db,cart,repo

[REPORTS]
# Вывод оценки
score=yes

# Формат вывода
output-format=colorized

[TYPECHECK]
# Игнорировать ошибки типов для pygame
ignored-modules=pygame
ignored-classes=pygame
generated-members=pygame.*